div.container {
    margin-top: 10px;
    /* font-family: 'Catamaran', sans-serif; */
}

.body-style {
    background-color: #94D1BE;
}

.perfectly-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.center-align.title {
    font-family: 'Do Hyeon', sans-serif;
}

button.btn {
    color: #ffffff;
    background-color: #373F51;
}
div.warning {
    color:red;
}
.row.shrink-row {
    margin-bottom:5px;
}
.row.gap{
    margin-top:10px;
}
.truncateX {
    width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }